.header-bar{
  	transform: translateX(0);
  	transition: .5s ease all;

	.toggled &{
			transform: translateX(300px);

		@media (max-width: $screen-sm-max) {
				transform: translateX(-300px);
		}
	}
}

.page-header{
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-repeat: no-repeat;
    background-position: center 45%; 
  	margin: 0;
	position: relative;

  	.header-overlay{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: #333;
		opacity: .65;
		z-index: 300;
  	}

	h1{
		text-align: center;
		color: #fff;
		padding: 6em 1em 1em;
		margin: 0;
		position: relative;
		z-index: 400;

		&:after{
			content: '';
			border-bottom: 5px solid #ddd;
		}
	}
}

.wrap.container{
	position: relative;
  	transform: translateX(0);
  	transition: .5s ease all;
  	margin-top: 4em;

	.toggled &{
  		transform: translateX(300px);

  		@media (max-width: $screen-sm-max) {
  			transform: translateX(-300px);
		}
	}

	&.has-image{
  		margin-top: 0;
	}
}

#sidebar-wrapper{
	position: fixed;
	left: 0;
	right: inherit;
  	transform: translateX(-300px);

	@media (max-width: $screen-sm-max) {
		left: inherit;
		right: 0;
		transform: translateX(300px);
	}

  	transition: .5s ease all;

  	.toggled &{
  		transform: translateX(0);

  		@media (max-width: $screen-sm-max) {
  			transform: translateX(0);
		}
	}
}

.main{
	float: left;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.article-wrapper{
	max-width: 700px;
	margin: 0 auto;

	p{
		line-height: 2em;
		margin-bottom: 1.5em;
		color: #333;
	}
}

body.admin-bar{
	position: static;


	@media (max-width: $screen-sm-max) {
    	margin-top: 46px;
	}
}

@media screen and (max-width: 600px){
	#wpadminbar {
	    position: fixed;
	}
}