.header-bar{
  	transform: translateX(0);
  	transition: .5s ease all;

	.toggled &{
			transform: translateX(300px);

		@media (max-width: $screen-sm-max) {
				transform: translateX(-300px);
		}
	}	
}


.wrap.container{
	position: relative;
  	transform: translateX(0);
  	transition: .5s ease all;
  	margin-top: 6em; 
  	
	.toggled &{
  		transform: translateX(300px);

  		@media (max-width: $screen-sm-max) {
  			transform: translateX(-300px);
		}
	}
}

#sidebar-wrapper{
	position: fixed;
	left: 0;
	right: inherit;
  	transform: translateX(-300px);

	@media (max-width: $screen-sm-max) {
		left: inherit;
		right: 0;
		transform: translateX(300px);
	}

  	transition: .5s ease all;

  	.toggled &{
  		transform: translateX(0);

  		@media (max-width: $screen-sm-max) {
  			transform: translateX(0);
		}
	}
}

.main{
	float: left;
	width: 100%;
}